 @font-face {
   font-family: Georama;
   src: url(fonts/Georama/Georama-Regular.ttf);
   font-family: Georama-Italico;
   src: url(fonts/Georama/Georama-Italic.ttf);
 }

 * {
   margin: 0;
 }

 /* CORES NO MODO CLARO */
 :root {
   --primeira-tela-bg: #2C394B;
   --segunda-tela-bg: #334756;
   --nav-bg: #FF5400;
   --nav-text-color: #E5E5E5;
   --text-color: #E5E5E5;
   --nav-hover: #FF5400;
   --drawer-color: #2c394bcc;
 }

 /* CORES NO MODO ESCURO */
 .dark-mode:root {
   --primeira-tela-bg: #E5E5E5;
   --segunda-tela-bg: #F4F4F4;
   --text-color: #2C394B;
   --drawer-color: #b1b2b4c2;
 }

 .noselect {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
 }

 body {

   max-width: 100%;
   overflow-x: hidden;
 }


 /*  
 ----------------------------------
    NAVBAR
 ----------------------------------
 */

 .navbar-responsive {
   color: var(--text-color);
   position: fixed;
   height: 100%;
   width: 100%;
   transform: translate3d(-100%, 0, 0);
   transition: 0.3s all ease-in-out;
 }

 .navbar-responsive .navbar-responsive__nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   list-style: none;
 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
   font-family: Georama;
   font-weight: 600;
   text-align: center;
   letter-spacing: 2px;
 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
   display: block;
   padding: 10px;
   color: var(--text-color);
   text-decoration: none;
 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link button {
   background-color: var(--nav-bg);
   border-radius: 20px;
   border: 0;
   box-shadow: 0px 2px 10px var(--nav-bg), 0px 2px 5px black;
   cursor: pointer;

   color: var(--nav-text-color);
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   padding: 9px 10px;
 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
   top: 50%;
   bottom: 0;
   left: 0;
   background-color: var(--text-color);
 }

 label {
   font-size: 30px;
 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link .darkmode-icon {
   cursor: pointer;
   color: var(--text-color);

 }

 .navbar-responsive .navbar-responsive__nav .navbar-responsive__link .darkmode-icon:hover {
   color: var(--nav-hover);
   background-color: var(--text-color);
   border: 3px solid var(--text-color);
 }

 .navbar-responsive:after {
   content: "";
   z-index: -1;
   left: 0;
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: var(--drawer-color);
 }

 .navbar {
   background-color: var(--nav-bg);
   position: fixed;
   width: 100%;
   z-index: 1;

   box-shadow: 0px 2px 35px var(--nav-bg), 0px 2px 5px black;
   background: var(--nav-bg);
   padding: 0;
 }

 .navbar .navbar__wrapper {
   width: 90%;
   margin: 0 auto;
 }

 .navbar .navbar__wrapper .navbar__menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
 }

 .navbar .navbar__wrapper .navbar__menu .navbar__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   margin-bottom: 0px;
 }

 .navbar .navbar__wrapper .navbar__link a,
 .navbar__brand {
   /* box-shadow: 0px 2px 35px var(--nav-bg), 0px 0px 2px black; */
   position: relative;
   padding: 2px 10px 2px 10px;

   color: var(--nav-text-color);
   font-family: Georama;
   font-size: 1em;
   font-weight: 500;
   /* letter-spacing: 0.1em; */
   text-decoration: none;

   border: 1px solid var(--nav-text-color);
   border-radius: 50px;
   margin-left: 20px;
 }

 .navbar .navbar__wrapper .navbar__brand {
   color: var(--nav-text-color);
   font-family: Georama-Italico;
   font-weight: 500;
   font-size: 2.3em;
   /* line-height: 48px; */

   box-shadow: none;
   border: none;
   margin: 0px;
 }

 .navbar .navbar__wrapper .navbar__menu .navbar__nav .darkmode-icon {
   box-shadow: 0px 2px 35px var(--nav-bg), 0px 0px 2px black;

   cursor: pointer;
   display: inline-flex;

   font-size: 20px;
   color: var(--text-color);
   border: 3px solid var(--text-color);
   border-radius: 40%;
   padding: 5px;

   margin-left: 45px;
 }

 .navbar .navbar__wrapper .navbar__menu .navbar__nav .darkmode-icon:hover {
   color: var(--nav-hover);
   background-color: var(--text-color);
   border: 3px solid var(--text-color);
 }

 .navbar .navbar__wrapper .navbar__brand img {
   height: 100%;
 }

 .after-transform a {
   position: relative;
 }

 .after-transform a:after {
   content: "";
   transition: all 0.3s ease;
   position: absolute;
   bottom: -3px;
   left: 0;
   height: 2px;
   width: 100%;
   background-color: #2196f3;
   border-radius: 3px;
   transform: scaleX(0) translateZ(0);
   transform-origin: bottom center;
 }

 .after-transform a.active,
 :hover :after {
   transform: scaleX(1) translateZ(0);
 }

 /* Icon 3 */
 #nav-icon3 {
   width: 30px;
   height: calc(100% / 2);
   position: relative;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 0.5s ease-in-out;
   -moz-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
   transition: 0.5s ease-in-out;
   cursor: pointer;
 }

 #nav-icon3 span {
   display: none;
   position: absolute;
   height: 5px;
   width: 100%;
   background: var(--nav-text-color);
   border-radius: 9px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: 0.25s ease-in-out;
   -moz-transition: 0.25s ease-in-out;
   -o-transition: 0.25s ease-in-out;
   transition: 0.25s ease-in-out;
 }

 #nav-icon3 span:nth-child(1) {
   top: 0px;
 }

 #nav-icon3 span:nth-child(2),
 #nav-icon3 span:nth-child(3) {
   top: 9px;
 }

 #nav-icon3 span:nth-child(4) {
   top: 18px;
 }

 #nav-icon3.open span:nth-child(1) {
   top: 9px;
   width: 0%;
   left: 50%;
 }

 #nav-icon3.open span:nth-child(2) {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 #nav-icon3.open span:nth-child(3) {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }

 #nav-icon3.open span:nth-child(4) {
   top: 9px;
   width: 0%;
   left: 50%;
 }



 /*  
 ----------------------------------
    PRIMEIRA TELA
 ----------------------------------
 */

 .primeira-tela {
   background-color: var(--primeira-tela-bg);
   background-image: url(images/backgroundlejaum.png);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }

 .primeira-tela .titulo {
   margin-top: 98px;
 }

 .titulo {
   font-family: Georama;
   color: var(--nav-bg);
   font-weight: 500;
   font-size: 55px;
   text-decoration: line-through;
 }

 .titulo2 {
   font-family: Georama;

   color: var(--nav-bg);
   font-weight: 900;
   font-size: 55px;
 }

 .subtitulo {
   font-family: Georama;

   color: var(--text-color);

   margin-top: 20px;

   font-style: normal;
   font-weight: 500;
   font-size: 27.5px;
   letter-spacing: 1px;
 }

 .btn-saibamais {
   margin-top: 30px;

   box-shadow: 0px 2px 35px var(--nav-bg), 0px 2px 5px black;
   /* box-shadow: 0px 2px 35px 0px var(--nav-bg); */
   background: linear-gradient(to bottom, var(--nav-bg), 5%, var(--nav-bg), 100%);
   background-color: var(--nav-bg);
   border-radius: 42px;
   border: 0;

   cursor: pointer;

   color: var(--nav-text-color);
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   padding: 9px 23px;
   text-decoration: none;
 }

 .btn-saibamais:active {
   position: relative;
   top: 4px;
 }

 .foguete {
   margin-top: 700px;
   height: 600px;
 }

 .foguete:active {
   position: relative;
   top: 4px;
 }

 .posicao-foguete {
   position: absolute;
   display: flex;
   margin-left: 600px;
 }

 /*  
 ----------------------------------
    ANIMAÇÃO COM SCROLL DO FOGUETE
 ----------------------------------
 */

 .gira {
   animation: rotate 0.2s linear infinite;
   animation-play-state: paused;
   animation-delay: calc(var(--scroll) * -1s);

   animation-iteration-count: 1;
   animation-fill-mode: both;
 }

 .sobe {
   animation: sobe-de-lado 0.2s linear infinite;
   animation-play-state: paused;
   animation-delay: calc(var(--scroll) * -1s);

   animation-iteration-count: 1;
   animation-fill-mode: both;
 }

 @keyframes sobe-de-lado {
   to {
     transform: translate(300px, -1200px);
   }
 }

 @keyframes rotate {
   to {
     transform: rotate(-30deg);
   }
 }

 /*  
 ----------------------------------
    FIM DA ANIMAÇÃO
 ----------------------------------
 */

 /*  
 ----------------------------------
    SEGUNDA TELA
 ----------------------------------
 */

 .segunda-tela {
   padding-top: 50px;
   background-color: var(--segunda-tela-bg);
   height: 50em;
 }

 .subtitulo-bold {
   color: var(--text-color);

   margin-top: 20px;

   font-family: Georama;
   font-style: normal;
   font-weight: 700;
   font-size: 27.5px;
   letter-spacing: 1px;
 }

 .conteudo {
   color: var(--text-color);

   margin-top: 20px;
   font-family: Georama;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   letter-spacing: 1.1px;
   line-height: 1.2em;
 }

 .segunda-tela .espaco-em-baixo {
   padding-bottom: 150px;
 }

 /*  
 ----------------------------------
    TERCEIRA TELA
 ----------------------------------
 */

 .terceira-tela {
   padding-top: 1px;
   background-color: var(--primeira-tela-bg);
   height: 600px;
 }

 .terceira-tela .posicao-grafico {
   margin-left: 800px;
   margin-top: -300px;
 }

 .terceira-tela .grafico {
   height: 450px;
 }

 .terceira-tela .grafico:active {
   position: relative;
   top: 4px;
 }

 .terceira-tela .espaco-em-baixo {
   padding-bottom: 150px;
 }

 /*  
 ----------------------------------
    QUARTA TELA
 ----------------------------------
 */

 .quarta-tela {
   padding-top: 50px;
   background-color: var(--segunda-tela-bg);
   height: 100vh;
 }

 .container-custom-carrossel {
   margin-top: 150px;
   margin-right: auto;
   margin-left: 50px;
   width: 80%;
   display: flex;
   align-items: center;
   align-content: center;
 }

 .portfolio-carrossel {
   width: 80%;
   height: 500px;
   position: absolute;
   overflow: hidden;
 }

 .portfolio-carrossel .track {
   border: 2px solid #f3213d6c;
   border-radius: 10px;

   position: absolute;
   top: 150px;
   display: inline-flex;
   touch-action: none;
 }

 .portfolio-carrossel .track .card-custom {
   margin: 20px 0px 20px 20px;
 }

 .card-custom .card-image {
   display: flex;
   align-items: flex-end;
   width: 200px;
   height: 300px;
 }

 .card-custom .card-image img {
   width: 200px;
   height: 300px;
 }

 .card-custom .card-image .filtro {
   position: absolute;
   margin: 5px;
   height: 115px;
   width: 190px;
 }

 .card-custom .card-image .filtro .info-card {
   display: none;
 }

 .card-custom:hover .card-image .filtro .info-card {
   display: block;
   padding: 15px 15px 0 20px;
 }

 .card-custom .card-image .filtro .info-card .titulo-card {
   font-family: Georama;
   font-size: 16px;
   font-weight: 900;
 }

 .card-custom .card-image .filtro .info-card .conteudo-card {
   font-family: Georama;
   font-size: 12px;
   font-weight: 400;
 }

 .card-custom .card-image .filtro .info-card button {
   box-shadow: 0px 2px 10px var(--nav-bg), 0px 1px 5px black;
   background: linear-gradient(to bottom, var(--nav-bg), 5%, var(--nav-bg), 100%);
   background-color: var(--nav-bg);
   border-radius: 42px;
   border: 0;

   cursor: pointer;
   color: var(--nav-text-color);
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   padding: 2px 10px;
   text-decoration: none;
 }

 .card-custom:hover {
   position: relative;
   bottom: 10px;

   animation-name: card-pula;
   animation-duration: 0.2s;
 }

 @keyframes card-pula {
   from {
     bottom: 0px;
   }

   to {
     bottom: 10px;
   }
 }

 .card-custom:hover .card-image .filtro {
   background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) -8.21%, rgba(255, 255, 255, 0) 52.24%), rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(2px);

   border-radius: 5%;

   animation-name: aparece-devagar;
   animation-duration: 1s;
 }

 @keyframes aparece-devagar {
   from {
     opacity: 0;
   }

   to {
     opacity: 80;
   }
 }

 /*  
 ----------------------------------
    TENTANDO FAZER A TAL DA RESPONSIVIDADE
 ----------------------------------
 */

 /*  MOBILE (MENOS DE 600PX) */
 @media (max-width: 600px) {

   .foguete,
   .grafico {
     display: none !important;
   }

   .navbar .navbar__wrapper .navbar__brand {
     font-size: 30px;
   }

   .navbar__nav {
     display: none !important;
   }

   .titulo,
   .titulo2 {
     font-size: 32px;
     line-height: 1em;
     letter-spacing: 1px;
   }

   .primeira-tela .subtitulo {
     font-size: 17px;
     line-height: 1em;
     letter-spacing: 0.1px;
   }

   .primeira-tela .btn-saibamais {
    margin-top: 60px;
    font-size: 18px;
    padding: 7px 18px;
   }

   .segunda-tela {
     height: 42em;
   }

   .segunda-tela .subtitulo-bold {
     font-size: 22px;
     letter-spacing: 1.5px;
   }

   .segunda-tela .conteudo {
     font-size: 12px;
     letter-spacing: 0.2px;
     line-height: 1.3em;
   }

   .terceira-tela .conteudo {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 1.3em;
   }


   #nav-icon3 span {
     display: block !important;
   }
 }

 /*  FIM MOBILE */



 @media (min-width: 600px) {
   .navbar__responsive {
     transform: translate3d(-100%, 0, 0) !important;
   }
 }

 /*  DESKTOP 720P*/
 @media (min-width: 1300px) {
   .navbar {
     height: 60px;
   }

   .primeira-tela .titulo,
   .primeira-tela .titulo2 {
     font-size: 48px;
   }

   .primeira-tela .subtitulo {
     font-size: 27px;
     line-height: 1em;
   }

   .navbar .navbar__wrapper .navbar__brand {
     font-size: 30px;
   }

 }