 @font-face {
     font-family: Georama;
     src: url(fonts/Georama/Georama-Regular.ttf);
     font-family: Georama-Italico;
     src: url(fonts/Georama/Georama-Italic.ttf);
 }


 /* CORES NO MODO CLARO */
 :root {
     --body-bg: #2C394B;
     --nav-bg: #FF5400;
     --nav-text-color:#E5E5E5;
     --text-color: #E5E5E5;
     --nav-hover: #FF5400;
 }

 /* CORES NO MODO ESCURO */
 .dark-mode:root {
     --body-bg: #E5E5E5;
     --text-color: #2C394B;
 }

 .noselect {
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -o-user-select: none;
     user-select: none;
 }

 body {
     background-color: var(--body-bg);
     background-image: url(images/backgroundlejaum.png);
     height: 1500px;
     background-position: top;
     background-repeat: no-repeat;
     background-size: contain;
 }

 .navbar {
     position: sticky;
     z-index: 10000;
     width: 100%;
     height: 70px;
     left: 0px;
     top: 0px;

     background: var(--nav-bg);
     box-shadow: 0px 2px 35px var(--nav-bg);
 }

 .navbar-brand {
     color: var(--nav-text-color);
     width: 172px;
     left: 179px;


     font-family: Georama-Italico;
     font-size: 40px;
     font-weight: 500;
     line-height: 48px;

     border: 1px solid transparent;
 }

 a:hover {
     color: var(--nav-text-color);
 }



 @media (min-width: 992px) {
     .navbar-expand-lg .navbar-nav .nav-link {
         padding-top: 0;
         padding-bottom: 0;
         padding-right: 1rem;
         padding-left: 1rem;
     }
 }

 li .nav-link {
     font-family: Georama;
     font-weight: 500;
     font-size: 20px;

     color: var(--nav-text-color);

     border: 3px solid var(--nav-text-color);
     border-radius: 50px;
 }

 li .nav-link:hover {
     color: var(--nav-hover);
     text-decoration: none;
     background-color: var(--nav-text-color);
     border: 3px solid var(--nav-text-color);
     border-radius: 50px;
 }

 .nav-link:focus {
     color: var(--text-color);
 }

 .nav-link:active {
     position: relative;
     top: 1px;
 }

 .nav-item {
     margin-left: 47px;
 }

 .navbar-toggler {
     font-family: Georama;
     font-weight: 500;
     font-size: 25px;

     color: var(--text-color);

     border-radius: 50px;
 }

 .container .comeco {
     margin-top: 150px;
 }

 .comeco .titulo {
     color: var(--nav-bg);
     font-family: Georama;
     font-weight: 500;
     font-size: 55px;
     text-decoration: line-through;
 }

 .comeco .titulo2 {
     margin-top: -30px;
     color: var(--nav-bg);
     font-family: Georama;
     font-weight: 900;
     font-size: 55px;
 }

 .comeco .subtitulo {
     color: var(--text-color);

     margin-top: 20px;

     font-family: Georama;
     font-style: normal;
     font-weight: 500;
     font-size: 27.5px;
     letter-spacing: 1px;
 }

 .foguete {
     position: sticky;
     margin-left: 0px;
     margin-top: 500px;
     height: 600px;
 }

 .foguete:active {
     position: relative;
     top: 4px;
 }

 .btn-saibamais {
     margin-top: 30px;
     box-shadow: 0px 2px 35px 0px var(--nav-bg);
     background: linear-gradient(to bottom, var(--nav-bg), 5%, var(--nav-bg), 100%);
     background-color: var(--nav-bg);
     border-radius: 42px;
     border: 0;

     cursor: pointer;
 }

 .btn-saibamais {
     color: var(--nav-text-color);
     font-family: Georama;
     font-style: normal;
     font-weight: normal;
     font-size: 25px;
     padding: 9px 23px;
     text-decoration: none;
 }


 /* TESTE DE ANIMAÇÃO COM SCROLL DO FOGUETE */
 .gira {
     animation: rotate 0.5s linear infinite;
     animation-play-state: paused;
     animation-delay: calc(var(--scroll) * -1s);

     animation-iteration-count: 1;
     animation-fill-mode: both;
 }

 .sobe {
     animation: sobe-de-lado 0.4s linear infinite;
     animation-play-state: paused;
     animation-delay: calc(var(--scroll) * -1s);

     animation-iteration-count: 1;
     animation-fill-mode: both;
 }

 @keyframes sobe-de-lado {
     to {
         transform: translate(100%, -1200px);
     }
 }

 @keyframes rotate {
     to {
         transform: rotate(-45deg);
     }
 }